.tableContainer table > thead > tr > th,
.tableRow td {
  border: 1px solid black;
  min-width: 130px;
  min-height: 100px;
  padding: 1.3rem;
}

.tableContainer table {
  border: 1px solid black;
  border-collapse: collapse;
}

.tableContainer {
  margin: 2rem auto;
  margin-left: 5rem;
}

.input {
  margin: 1.2rem;
}

.input input {
  width: 250px;
  border-radius: 15px;
  padding: 0.7rem;
}
